@import 'mediawiki.skin.defaults.less';
@background-color-warning: #f5edea;
@background-color-base: #050522;
@background-color-article: #050522;
@background-color-thumb: #f5edea;
@color-thumb: #070403;
@color-base: #ffffff;
@color-gray: #352957;
@color-gray-2: #654fa6;
@color-link: #428954;
@color-link--active: #4a9b5e;
@color-link--visited: #469259;
@font-family: 'Degular',sans-serif;
@icon-filter: none;
@color-link-new: @color-link;
@color-link-stub: @color-link;
@color-link-external: @color-link;
@color-link-new--visited: @color-link--visited;
