<main id="content" class="mw-body">
    <section class="actions">
        {{>ContentActions}}
    </section>
    <section class="content-container">
        <header class="content__header">
            {{>ContentIndicators}}
            {{>ContentHeading}}
        </header>
        <section class="content">
            {{>ContentBody}}
        </section>
    </section>
</main>
