<div class="toggle-list">
	<div class="toggle-list__list">
		{{#data-portlets-sidebar}}
		{{#data-portlets-first}}{{>Portlet}}{{/data-portlets-first}}
		{{/data-portlets-sidebar}}
	</div>
	<label class="toggle-list__mask" for="sidebar-input"></label>
</div>